apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: nginx-service
  name: nginx-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-service  
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: nginx-service
    spec:
      containers:
      - image: nginx:1.22
        imagePullPolicy: "Always"
        name: bnpl-service
        resources:
          limits:
            cpu: 500m
          requests:
            cpu: 200m
        ports:
          - containerPort: 8080

status: {}
---
# apiVersion: autoscaling/v1
# kind: HorizontalPodAutoscaler
# metadata:
#   name: bnpl-service
# spec:
#   scaleTargetRef:
#     apiVersion: apps/v1
#     kind: Deployment
#     name: bnpl-service
#   minReplicas: 1
#   maxReplicas: 10
#   targetCPUUtilizationPercentage: 50
